$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap-sprockets';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';

// inspired by https://github.com/twbs/bootstrap-sass/blob/v3.3.7/assets/stylesheets/bootstrap/_responsive-embed.scss
.overlay-parent {
  position: relative;
  display: block;
  overflow: hidden;

  .overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    height: 100%;
    width: 100%;
  }
}

.height-100 { height: 100% !important; }

html, body { @extend .height-100; }

.unglish {
  @extend .height-100;
  .unglish-quill { height: 66.6%; }
  .unglish-vis { height: 33.3%; }
}

$osx-scrollbar-width: 7px;
::-webkit-scrollbar {
    -webkit-appearance: none;
    width: $osx-scrollbar-width; height: $osx-scrollbar-width;
}
::-webkit-scrollbar-thumb {
    border-radius: floor(($osx-scrollbar-width+1) / 2);
    background-color: rgba(0,0,0,.5);
    -webkit-box-shadow: 0 0 1px rgba(255,255,255,.5);
}
